//==============================================================================
// Widget Information
//==============================================================================
$widget_name: "Post Types";
$widget_uri: "https://github.com/armandphilippot/post-types-list-widget";
$widget_description: "A widget to display a list of posts by post types.";
$widget_version: "1.0.1";
$widget_wordpress_compatibility: "5.2";
$widget_author: "Armand Philippot <contact@armandphilippot.com>";
$widget_author-uri: "https://www.armandphilippot.com/";
$widget_license: "GNU General Public License v2 or later";
$widget_license-uri: "http://www.gnu.org/licenses/gpl-2.0.html";
$widget_domain: "PTLWidget";
$widget_domain-path: "/languages/";
