.ptlwidget__legend {
	font-weight: 600;
}

.ptlwidget__label--capitalize {
	text-transform: capitalize;
}

.ptlwidget__fieldset input[type="radio"] ~ input[type="radio"] {
	margin-left: 2em;
}

.ptlwidget__fieldset input[type="radio"][value="limited"] ~ .ptlwidget__conditionally-hidden,
.ptlwidget__fieldset input[type="radio"][value="activated"] ~ .ptlwidget__conditionally-hidden {
	margin-top: 0.5em;
}

.ptlwidget__fieldset input[type="radio"][value="limited"]:checked ~ .ptlwidget__conditionally-hidden,
.ptlwidget__fieldset input[type="radio"][value="activated"]:checked ~ .ptlwidget__conditionally-hidden {
	display: block;
}

.ptlwidget__fieldset input[type="radio"][value="limited"]:not(:checked) ~ .ptlwidget__conditionally-hidden,
.ptlwidget__fieldset input[type="radio"][value="activated"]:not(:checked) ~ .ptlwidget__conditionally-hidden {
	display: none;
}

.ptlwidget__fieldset input[type="number"] {
	width: 10ch;
}
